.AuthenticationLogin_ROOT{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.AuthenticationLogin_ROOT > * {
    margin-bottom: 20px !important;
}
.AuthenticationLogin_INPUTS {
    width: 100%;
}
.AuthenticationLogin_BUTTON {
    width: 90%;
}