body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.whiteText{
  color: white;
}
.centerText{
  text-align: center;
}
.fullHeightFlex {
  height: 100vh;
  display: flex;
}
.divDoisElementosResponsiva{
  display: flex;
  flex-direction: row;       
}
.divDoisElementosResponsiva .filho{
  flex-grow: 1;
  margin-right: 20px;
}
.divDoisElementosResponsiva .ultimoFilho{
  flex-grow: 1;
}
@media only screen and (max-width: 600px) {
  .divDoisElementosResponsiva{
      flex-direction: column;
  }
  .divDoisElementosResponsiva .filho{
      margin-bottom: 20px;
      margin-right: 0px; 
  }
}